<form id="searchform">
    <label>seachbar</label>
  <input id='searchbar' type="searchbar"> 

  <button>search</button>

   

</form>
<div id="workouts-container"></div>
<script src="./js/search.js"></script>