<form id="searchform">
  <label>
     <input id='searchbar' type="searchbar">     
  </label> 

  <button>search</button>
   
</form>
<div id="workouts-container"></div>
<script src="./js/search.js"></script>

