 registration
<form action="signup" method="post" >
 <div class="form-group mb-3">
    <label for="username">Username:</label>
    <input class="form-control" type="text" id="username" name="username">
 </div>
 <div class="form-group mb-3">
    <label for="password">Password:</label>
    <input class="form-control" type="password" id="password" name="password">
 </div>
 <input class="btn btn-primary" type="submit" value="Sign Up">

</form>
<script src="./js/login.js"></script>

<h2>Sign Up</h2>

<form class="form signup-form">
  <div class="form-group">
    <label for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name-signup"/>
  </div>
<form class="form signup-form">
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email-signup"/>
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password-signup"/>
  </div>
  <div class="form-group">
    <label for="password-signup">Confirm Password:</label>
    <input class="form-input" type="password" id="password-signup"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<script src="./js/signup.js"></script>

