<h2>Sign Up</h2>

<form action="signup" method="post" class="form signup-form">
  <div class="form-group">
    <label for="name-signup">Name:</label>
    <input class="form-input" type="text" id="name_signup" name="name_signup"/>
  </div>
<form class="form signup-form">
  <div class="form-group">
    <label for="email-signup">Email:</label>
    <input class="form-input" type="text" id="email_signup" name="email_signup"/>
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" id="password_signup" name="password_signup"/>
  </div>
  <div class="form-group">
    <label for="password-signup">Confirm Password:</label>
    <input class="form-input" type="password" id="password_confirm_signup" name="password_confirm_signup"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<script src="./js/signup.js"></script>