<h1>Your Fit Journal</h1>

<p>Enter Your Weekly Achievements</p>

<form class="form entry-form">
  <div class="form-group">
    <label for="workout-log">Workout</label>
    <input class="form-input" type="text" id="workout-log" />
    <textarea id="workout-info"></textarea>
  </div>
  <div class="form-group">
    <label for="cardio-log">Cardio</label>
    <input class="form-input" type="text" id="cardio-log" />
    <textarea id="cardio-info"></textarea>
  </div>
</form>

<script src="./js/workout.js"></script>